* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    font: 18px/1.5 Lato, sans-serif;
}

h2 {
    padding-bottom: 1em;
}

ul {
    padding: 0 0 0 0.5em;
}

ul li {
    display: flex;
    padding: 0.2em;
    list-style: none outside;
}

ul li li {
    border-left: 2px solid #ccc;

}

ul li li::before {
    display: block;
    content: '';
    border: solid #ccc;
    border-width: 0 0 2px 2px;
    border-bottom-left-radius: 0.3em;
    width: 1em;
    height: 1.3em;
    margin-right: 0.5em;
    position: relative;
    top: -0.5em;
    left: -5px;
}

details summary {
    display: flex;
    gap: 0.5em;
}

details summary::before {
    display: block;
    content: '+';
    background: rgb(118, 213, 118);
    color: white;
    width: 1.5em;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

details[open] > summary::before {
    content: '-';
}