* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Lato, sans-serif;
}

body, input, form, select, button, textarea {
    font: inherit;
}

body {
    background-color: #eee;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter {
    flex: 0 1 900px;
    padding: 1em;
    background: #fff;
    border-radius: 0.1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.newsletter input {
    display: block;
    width: 100%;
    background: #eee;
    border: none;
    border-radius: 0.2em;
    padding: 0.8em 1.4em;
}


.newsletter input[type="text"] {
    flex: 1 0 20ch;
}

.newsletter input[type="email"] {
    flex: 2 0 40ch;
}

.newsletter input[type="submit"] {
    background: darkorange;
    color: white;
    flex: 1 0 15ch;
}