* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Lato, sans-serif;
}

body, input, form, select, button, textarea {
    font: inherit;
}

body {
    background-color: #eee;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex: 0 1 600px;
    padding: 2em;
    background: #fff;
    border-radius: 0.1em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

form ul {
    margin-top: 1em;
}

form ul:not(:last-of-type) {
    margin-bottom: 2em;

}

form ul li {
    list-style: none outside;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    align-items: center;
}

form input[type="radio"],
form input[type="checkbox"] {
    appearance: none;
}

form input[type="radio"] {
    width: 1.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}

form input[type="radio"]::before {
    display: block;
    content: "";
    width: 0.8em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: orange;
    opacity: 0;
    transform: translateX(-2em);
    transition:
        opacity 0.3s ease-in,
        transform 0.3s ease-in-out;
}

form input[type="radio"]:checked::before {
    opacity: 1;
    transform: translateX(0);
}

form label {
    cursor: pointer;
}

form input:checked ~ label {
    font-weight: bold;
}

form input[type="checkbox"] {
    width: 3em;
    border-radius: 2em;
    aspect-ratio: 2/1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ccc;
    padding: 0.2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    transition: 
        border-color 0.3s ease-in,
        background-color 0.3s ease-in;
}

form input[type="checkbox"]:checked {
    justify-content: flex-end;
    border-color: orange;
    background-color: rgb(255, 193, 79);
}

form input[type="checkbox"]::before {
    display: block;
    content: "";
    width: 1em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: orange;
    transform: translateX(0em);
    transition:
        transform 0.3s ease-in-out;
}

form input[type="checkbox"]:checked::before {
    opacity: 1;
    transform: translateX(0.1em);
}