p.highlighted {
    color: rgb(73, 170, 255);
    font-size: 18px;
}

div#special-content {
    background-color: orange;
    box-shadow: 0 0.2em 0.3em 0 rgb(0,0,0,0.1);
}

a[href^="http"] {
    border-bottom: 1px solid orange;
    color: orange;
}

p.fancy.highlighted {
    color: chartreuse;
    background-color: darkolivegreen;
}