.flex-container {
    width: 300px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-container.flex-basis-5em .flex-item{
    flex-basis: 5em;
}

.flex-container.flex-shrink-zero .flex-item{
    flex-shrink: 0;
}

.flex-container.flex-basis-5em.flex-container.flex-grow-one {
    width: 900px;
}

.flex-container.flex-grow-one .flex-item{
    flex-grow: 1;
}


.flex-item {
    background: #eee;
    padding: 1em;
    border: 2px solid #000;
}